<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f7cae6 10%, #A2C7E5 90%);
    height: 100vh
  }
  @keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
   10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
   20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
     100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  @keyframes move {
    0% {
        background-position: 0 0
    }
     50% {
        background-position: 100% 0
    }
     100% {
        background-position: 0 0
    }
  }
</style>

<div class="container">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-12">
          <h3><%= @user.name %></h3>
          <p><%= @user.email %></p>
          
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, width: 200, class: "img-responsive img-thumbnail" %>
          <% else %>
            <!-- 替代avatar -->
            <%= image_tag ("avatar.png"), width: '200px' %>
          <% end %>

          <% if @user == current_user %>
            <%= link_to '編輯', edit_user_path, class: "btn btn-default" %>
          <% end %>
        </div>
        
        <div class="col-md-6">
          <h4>關於我</h4>
          <p><%= simple_format @user.intro %></p>
        </div>

        <div class="col-md-6">
          <% if @user == current_user %>
            <h4>給買家的話：(只有賣家本人及買家看得到)</h4>
            <p><%= simple_format @user.contact_info %></p>
          <% end %>
        </div>
      </div><!-- col-md-12 -->
    </div>
    
    <div class="container">
      <div class ="col-md-6">
        <% if @user == current_user %>
          <h3>你發起的甜點集資</h3>
        <% else %>
          <h3><%= @user.name %>發起的甜點集資</h3>
        <% end %>

        <% @desserts.each do |dessert| %>
          <div class="col-md-6">
            <%= link_to dessert_path(dessert) do %>
              <%= image_tag dessert.image_url, width: '150px' if dessert.image? %>

              <% if !dessert.image? && dessert.ig_image_url? %>
                <% n = dessert.ig_image_url.split('/')[4] %>
                <%= image_tag image_url("https://instagram.com/p/#{n}/media/?size=m"), width: '150px' %>
              <% end %>
              
              <h4><%= dessert.name %></h4>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class ="col-md-6">
        <% if @user == current_user %>
          <h3>你贊助的甜點集資</h3>

          <% @orders.each do |order| %>
            <div class="col-md-3">
              <%= link_to order_path(order) do %>
                <%= image_tag order.dessert.image.url, width: '150px' if order.dessert.image? %>

                <% if !order.dessert.image? && order.dessert.ig_image_url? %>
                  <% n = order.dessert.ig_image_url.split('/')[4] %>
                  <%= image_tag image_url("https://instagram.com/p/#{n}/media/?size=m"), width: '150px' %>
                <% end %>

                <h4><%= order.dessert.name %></h4>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div><!-- container -->

  </div>
</div>