<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f7cae6 10%, #A2C7E5 90%);
    height: 100vh
  }
  @keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
   10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
   20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
     100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  @keyframes move {
    0% {
        background-position: 0 0
    }
     50% {
        background-position: 100% 0
    }
     100% {
        background-position: 0 0
    }
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <%= link_to '回前頁', dessert_path(@dessert), class: "btn btn-primary pull-right" %>
      <h1><%= @dessert.name %> 訂單列表</h1>

      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>訂購人姓名</th>
            <th>訂購人電話</th>
            <th>訂購數量</th>
            <th>總金額</th>
            <th>買家留言</th>
            <th>付款狀態</th>
            <th>訂單狀態</th>
          </tr>

          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to user_path(order.user_id) do %>
                  <%= order.name %>
                <% end %>
              </td>

              <td><%= order.phone %></td>
              <td><%= order.amount %></td>
              <td><%= order.order_price %></td> 
              <td><%= order.message %></td>
              <td>
                <% if order.payment_status == "not_paid" %>
                  尚未付款
                <% else %>
                  已付款
                <% end %>
              </td>
              <td>
                <%= form_for [@dessert, order] do |f| %>
                  <%= f.select :shipping_status, [ '未完成', '已完成' ] %>
                  <%= f.submit '更新', class: "btn btn-info" %>
                <% end %>
              </td>
            </tr>
          <% end %>

        </table>
      </div>

    </div>
  </div>
</div>