<hr>

<% if @order.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>Order Form</h2>

<%= image_tag @dessert.image.url if @dessert.image? %>
<p>還有 <%= @dessert.amount %> 個集資成功 *每人限購數量：2</p>

<br>

<%= form_for [@dessert, @order] do |f| %>
  <%= f.label :amount, '訂購數量' %>
  <%= f.select :amount, [1,2] %>
  <br>
  <%= f.label :name, '訂購人姓名' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :phone, '訂購人電話' %>
  <%= f.text_field :phone %>
  <br>
  <%= f.submit '確認訂單' %>
  <%= f.button 'Cancel', type: :reset %>
<% end %>