<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f7cae6 10%, #A2C7E5 90%);
    height: 100vh
  }
  @keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
   10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
   20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
     100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  @keyframes move {
    0% {
        background-position: 0 0
    }
     50% {
        background-position: 100% 0
    }
     100% {
        background-position: 0 0
    }
  }
</style>

<div class="container">
  <div class="row">

    <h2>您已贊助成功</h2>

    <div class="order-show">
      <p>
        以下是賣家
        <%= link_to user_path(@order.seller) do %>
          <%= @order.seller.name %>
        <% end %>
        給您的留言：
      </p>
      <%= simple_format @order.seller.contact_info %>
      <hr>
      <%= image_tag @order.dessert.image.url, width:'100px' if @order.dessert.image? %>
      <p>訂購數量：<%= @order.amount %></p>
      <p>訂單金額：<%= @order.order_price %></p>
      <p>面交時間：<%= time_tag @order.dessert.pick_time %></p>
      <p>面交地點：<%= @order.pick_location %></p>
      
      <% if @order.payment_status == "not_paid" %>
        <%= link_to "Pay Now", checkout_spgateway_order_path(@order), method: :post, class: "btn btn-success" %>
      <% end %>
    </div>

  </div>
</div>