<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f7cae6 10%, #A2C7E5 90%);
    height: 100vh
  }
  @keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
   10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
   20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
     100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  @keyframes move {
    0% {
        background-position: 0 0
    }
     50% {
        background-position: 100% 0
    }
     100% {
        background-position: 0 0
    }
  }
</style>

<div class="container">
  <div class="row">

    <div>
      <%= link_to '全站使用者', admin_users_path %> |
      <%= link_to '甜點分類表', admin_categories_path %>
    </div>

    <h2>甜點分類總表</h2>

    <div class="form-inline" >
      <%= form_for [:admin, @category] do |f| %>
        <div class="form-group">
          <%= f.text_field :area, placeholder: "Category Name",  class: "form-control" %>
        </div>
        <%= f.submit '新增', class: "btn btn-info" %>
        
        <% if @category.errors.any? %>
          <%= @category.errors.full_messages.to_sentence %>
        <% end %>
      <% end %>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>分類名稱</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <th scope="row"><%= category.id %></th>
              <td><%= category.area %></td>
              <td>
                <%= link_to '編輯', admin_categories_path(id: category.id) %>&emsp;
                <%= link_to '刪除', admin_category_path(category), method: :delete, data: { confirm: "確定要刪除嗎?"} %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>