<div class = "container">
  <div class = "row">
    <div class="col-md-6">

    <% if @dessert.errors.any? %>
      <h2>We have some errors here !</h2>
      <ul>
        <% @dessert.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
 
    <%= form_for @dessert do |f| %>
      <form>  
        <div class="form-group">
          <%= f.label :name, '品名' %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image, '甜點照' %>
          <%= f.file_field :image %>
        </div>
        
        <div class="form-group">
          或在此貼上甜點照的ig網址
          <%= f.text_field :ig_image_url, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :description, '甜點介紹' %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :intro_image, '甜點介紹圖片' %>
          <%= f.file_field :intro_image %>
        </div>
        
        <%= f.submit '更新', class: "btn btn-info" %>
        <%= link_to '取消', dessert_path(@dessert), class: "btn btn-default" %>
      </form>
    <% end %>
    

    </div>
  </div>
</div>
