<% if @dessert.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @dessert.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @dessert do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :image, "Image" %>
  <%= f.file_field :image %>
  <br>
  或在此貼上你甜點照片的ig網址
  <%= f.text_field :ig_image_url %>
  <br>
  <%= f.label :description, 'Description' %>
   <textarea class="textarea" placeholder="Textarea"></textarea>
  <br>
  <%= f.label :production_time, 'Production time' %>
  <%= f.text_field :production_time %>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to '取消', dessert_path(@dessert) %>
