<style>
    input[type="submit"]{padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }

    input[type="text"]{padding:5px 15px; border:2px black solid;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }

.demo .container2{
    padding-top: 50px;
    text-align: center
}
</style>

<div class="container2">
<div class="box">
    <!-- 純 JavaScript 版本-->

<!-- HTML part -->
<%= form_for @dessert do |f| %>
<%= f.label :image, "Image   " %>
<form action="/somewhere/to/upload" enctype="multipart/form-data">

   <input type="file" onchange="readURL(this)" targetID="preview_progressbarTW_img" accept="image/gif, image/jpeg, image/png"/ >

   <img id="preview_progressbarTW_img" src="#" />

</form>

<!-- JavaScript part -->

<script>

function readURL(input){

  if(input.files && input.files[0]){

    var imageTagID = input.getAttribute("targetID");

    var reader = new FileReader();

    reader.onload = function (e) {

       var img = document.getElementById(imageTagID);

       img.setAttribute("src", e.target.result)

    }

    reader.readAsDataURL(input.files[0]);

  }

}

</script>
</box>

<% if @dessert.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @dessert.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


  <%= f.label :name, 'Name   ' %>
  <br>
  <%= f.text_field :name %>

  <br>

  <%= f.label :price, 'Price   ' %>
  <br>
  <%= f.text_field :price %>
  <br>
  <%= f.label :amount, 'Amount   ' %>
  <br>
  <%= f.text_field :amount %>
  <br>
  <%= f.label :category, "Area   " %>
  <br>
  <%= f.collection_select :category_id, Category.all, :id, :area, {}, {} %>
  <br>
  <%= f.label :location, "Location   " %>
  <br>
  <%= f.text_field :location %>
  <br>
  <%= f.label :description, 'Description   ' %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :production_time, 'Production time   ' %>
  <br>
  <%= f.text_field :production_time %>
  <br>
  <%= f.label :excess_time, 'Excess time   ' %>
  <br>
  <%= f.datetime_select :excess_time, default: Time.now %>
  <br>
  <%= f.label :pick_time, 'Pick time   ' %>
  <br>
  <%= f.datetime_select :pick_time, default: Time.now %>
  <br>
  <br>
  <%= f.submit %>
  <%= link_to '取消', desserts_path, class: "btn btn-default" %>

</div>
<% end %>


