<h1>Order List for <%= @dessert.name %></h1>

<hr>

<% @orders.each do |order| %>
  訂購人姓名：
    <%= link_to user_path(order.user_id) do %>
      <%= order.name %>
    <% end %>  |  
  訂購人電話：<%= order.phone %>  |  
  訂購數量：<%= order.amount %>  |  
  買家留言：<%= order.message %>  |  
  狀態：<%= order.shipping_status %>
<% end %>
