<hr>

<% if current_user.id == @dessert.user_id %>
  <%= link_to 'Edit', edit_dessert_path(@dessert) %> | 
  <%= link_to 'Delete', dessert_path(@dessert), method: :delete, data: {confirm:"Are you sure?"} %> | 
  <%= link_to '訂單狀況', order_list_dessert_path(@dessert) %>
<% end %>

<h3><%= @dessert.name %></h3>

<p><%= image_tag @dessert.image.url if @dessert.image? %></p>

<p>Price: $ <%= @dessert.price %> / each</p>

<p>
  還有 <%= @dessert.amount %> 個集資成功
  <% if @dessert.amount != 0 %> 
    <% if current_user.id != @dessert.user_id %>      
      <%= link_to '立即贊助', new_dessert_order_path(@dessert) %>
    <% end %>
  <% end %>
</p>

<p>面交地點： <%= @dessert.location %></p>

<p>製作所需時間：<%= @dessert.production_time %></p>

<p>集資截止時間： <%= time_tag @dessert.excess_time %></p>

<p>預定面交時間： <%= time_tag @dessert.pick_time %></p>

<p>介紹： <%= simple_format @dessert.description %></p>


<%= link_to '回到前台首頁', root_path %>
