<div class = "container">
  <div class = "row">
    
    <div class = "container">
      <div class = "dessert-image">
        <div class = "col-md-12">
          <% if @dessert.image? %>
            <%= image_tag @dessert.image_url, width: '300px', class: "img-thumbnail img-responsive" %>
          <% end %>

          <!-- IG 照片 -->
          <% if @n.present? %>
            <%= image_tag image_url("https://instagram.com/p/#{@n}/media/?size=m"), width: '300px', class: "img-thumbnail img-responsive" %>
          <% end %>
        </div>
      </div>
    
      <div class = "col-md-12">
        <div class = "dessert-edit">
          <p>
            <% if current_user.id == @dessert.user.id %>
              <%= link_to '編輯', edit_dessert_path(@dessert), class: "btn btn-default" %>  
              <%= link_to '刪除', dessert_path(@dessert), method: :delete, data: {confirm:"確定要刪除嗎?"}, class: "btn btn-default" %>  
              <%= link_to '訂單狀況', dessert_orders_path(@dessert), class: "btn btn-default" %>
            <% end %>
          </p>
        </div>
        
        <div class = "dessert-content">
          <h3 class = "text-center">
            集資截止時間：
            <% if @dessert.amount != 0 && Time.now < @dessert.excess_time %>
              集資倒數 <%= distance_of_time_in_words(Time.now, @dessert.excess_time) %>
            <% else %>
              <% if @dessert.sold_out? %>
                <strong>募資成功！已結束</strong>
              <% else @dessert.time_up? && !@dessert.sold_out? %>
                <strong>募資已結束</strong>
              <% end %>
            <% end %>
          </h3>

          <h3 class = "text-center">
            已募資：
            <%= @dessert.origin_amount - @dessert.amount %> / <%= @dessert.origin_amount %> 份
          </h3>

          <p>創作者：
            <%= link_to user_path(@dessert.user) do %>
              <%= @dessert.user.name %>
            <% end %>
          </p>

          <p>單價： $ <%= @dessert.price %></p>
          <p>類別： <%= @dessert.category.area %></p>
          <p>面交時間： <%= time_tag @dessert.pick_time %></p>
          <p>面交地點： <%= @dessert.location %></p>

          <div class = "text-center">
            <div class = "support-button">
              <% if current_user.id != @dessert.user.id %>
                <%= link_to '立即贊助', new_dessert_order_path(@dessert), class: "btn btn-success btn-lg" %>
              <% end %>
            </div>
          </div>

          <p>甜點介紹： <%= simple_format @dessert.description %></p>

          <br>
          <br>

        </div><!-- dessert-content -->
      </div><!-- col-md-12 -->

      <hr>

      <div class="col-md-10">
        <div class = "intro-image">
        <% if @dessert.intro_image? %>
          <%= image_tag @dessert.intro_image_url, class: "img-thumbnail img-responsive" %>
        <% end %>
        </div>
      </div>

    </div><!-- container -->

    <hr>

    <!---------------------------------------
    Google maps 
    ---------------------------------------->
    <div class="container">
      <div class="row">
        <div class="map">
          <div id="map" style='width: 600px; height: 300px;'>

          <script type="text/javascript">
            function initMap() {
              var address = "<%= @dessert.location %>";
              var loaction;
              var geocoder = new google.maps.Geocoder();
              var icon = {
                url: 'https://image.flaticon.com/icons/svg/135/135578.svg', // url
                scaledSize: new google.maps.Size(50, 50) // scaled size
              };
              //geocoder主程式
              geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                    map: map,
                    animation: google.maps.Animation.BOUNCE,
                    position: results[0].geometry.location,
                    icon: icon
                  });
                } else {
                  alert("Geocode was not successful for the following reason: " + status);
                }
              });
              var map = new google.maps.Map(document.getElementById('map'), {
                  center: address,
                  zoom: 15
              });
            }
          </script>

          <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1YAvzj1UR6oFWo_xjOgr2xp56OPSdJo&callback=initMap">
          </script>
        </div><!-- map -->
      </div><!-- row -->
    </div><!-- container -->

    <hr>

    <!---------------------------------------
    Q & A
    ---------------------------------------->
    <div class="container">
      <div class="row">
        <div class="qa col-md-6">
          <h3>問與答</h3>

          <% @dessert.comments.each do |comment| %>
            <strong>
              <%= link_to user_path(comment.user) do %>
                <%= comment.user.name %>
              <% end %>
            </strong>
            
            <% if current_user.admin? %>
              <%= link_to "刪除", dessert_comment_path(@dessert, comment), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-danger pull-right" %>
            <% end %>

            &emsp;
            <em class="text-muted"><%= "about " + time_ago_in_words(comment.created_at) + " ago" %></em>

            <p><%= simple_format comment.content %></p>

            <% comment.replies.each do |reply| %>
              <hr>
              <strong>
                <%= link_to user_path(@dessert.user) do %>
                  <%= @dessert.user.name %>
                <% end %>
              </strong>
              <% if current_user.admin? %>
                <%= link_to "刪除", dessert_comment_reply_path(@dessert, comment, reply), method: :delete, data: {confirm:"確定要刪除嗎?"}, class: "btn btn-danger pull-right"  %>
              <% end %>
              &emsp;
              <em class="text-muted"><%= "about " + time_ago_in_words(reply.created_at) + " ago" %></em>
              <p><%= simple_format reply.content %></p>
            <% end %>

            <% if current_user.id == @dessert.user.id %>
              <%= form_for [@dessert, comment, @reply] do |f| %>
                <br>
                <%= f.text_area :content, placeholder: 'reply here', class: "form-control" %>
                <br>
                <%= f.submit '回覆', class: "btn btn-default" %>
                <%= f.button 'Cancel', type: :reset, class: "btn btn-default" %>
              <% end %>
            <% end %>
            <hr>
          <% end %><!-- @dessert.comments.each -->

          <% if current_user.id != @dessert.user.id %>
            <%= form_for [@dessert, @comment] do |f| %>
              <br>
              <%= f.text_area :content, placeholder: 'comment here', class: "form-control" %>
              <br>
              <%= f.submit '留言', class: "btn btn-default" %>
              <%= f.button '取消', type: :reset, class: "btn btn-default" %>
            <% end %>
          <% end %>
      </div><!-- qa -->
      </div><!-- row -->
    </div><!-- container -->

  </div>
</div>
