
<!DOCTYPE html>
<html>
  <head>
    <title>CSS hover effects: Fade In Background opacity</title>
    <style>
      .wrapper{
      font-family:sans-serif;
      width: 280px;

      position:relative;
      margin: 1.5em ;
      float: left;
      }
      img{
      opacity: 1;
      display: block;
      width:280px;
      height: 280px;
      transition: .5s ease;
      }
      .content{
      position: absolute;
      top:45%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-size: 30px;
      color:#black;
      white-space: nowrap;
      overflow: hidden
      }
      .content a{
      font-size: 18px;
      display: block;
      background-color: #black;
      text-align: center;
      padding: 10px;
      cursor: pointer
      }
      .overlay{
      opacity: 0
      }
      .wrapper:hover img{
      opacity: .5
      }
      .wrapper:hover .overlay{
      opacity: 1
      }
    </style>
  </head>

  <body>
    <nav class="level">
  <!-- Left side -->
  <div class="level-left">
    
    <!-- 待新增功能
    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a post">
        </p>
        <p class="control">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </div>
    -->

  </div>

  <!-- Right side -->
  <div class="level-right">
    <a class="btn btn-1">熱門</a>
    <a><%= link_to "全部甜點", root_path, class: "btn btn-2" %></a>
    <% @categories.each do |category| %>
        <a><%= link_to category.area, category_path(category), class: "btn btn-2" %></a>
      <% end %>
    <a><%= link_to "新募資", new_dessert_path, class: "btn btn-1" %></a>
  </div>
</nav>
   <div class= "container">
   <div class="column is-narrow width: 200px;">
   </div>
   <div class="column ">
    <HR>
    <%= render partial: "shared/dessert" %>
    </div>

    <div class="column is-narrow width: 200px;">
   </div>
   <section class="hero">
  <div class="hero-body">


        <div id="map" style='width: 600px; height: 300px;'>
      </h1>

  </div>
</section>
    </div>





    <hr>

    <script type="text/javascript">
      function initMap() {
        var loaction;
        var geocoder = new google.maps.Geocoder();
        var initmap = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 25.047781, lng: 121.517031},// 初始地圖以臺北火車站為中心
          zoom: 12.5
        });


        var icon = {
          url: 'https://image.flaticon.com/icons/svg/135/135578.svg', // url
          scaledSize: new google.maps.Size(50, 50) // scaled size

        };

        //geocoder主程式
        "<% @desserts.each do |dessert| %>"
          geocoder.geocode( { 'address': "<%= dessert.location %>"}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              var marker = new google.maps.Marker({
                map: initmap,
                animation: google.maps.Animation.BOUNCE,
                position: results[0].geometry.location,
                icon: icon,
                title: "<%= dessert.location %>"
              });
            } else {
              alert("Geocode was not successful for the following reason: " + status);
            }
          });
        "<% end %>"
      }
    </script>
    <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1YAvzj1UR6oFWo_xjOgr2xp56OPSdJo&callback=initMap">
    </script>
    <hr>
  </body>
</html>
