<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #f7cae6 10%, #A2C7E5 90%);
    height: 100vh
  }
  @keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
   10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
   20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
     100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  @keyframes move {
    0% {
        background-position: 0 0
    }
     50% {
        background-position: 100% 0
    }
     100% {
        background-position: 0 0
    }
  }
</style>

<div class = "container">
  <div class = "row">
    <h3 class="text-center">歡迎來到Just Dessert 吃甜甜</h3>
    <h3 class="text-center">在這裡你會找到許多集資中的隱藏版個人創作甜點</h3>

    <%= link_to "全部甜點", root_path, class: "btn btn-info"  %>
    
    <% @categories.each do |category| %>
      <%= link_to category.area, category_path(category), class: "btn btn-warning"  %>
    <% end %>

    <hr>

    <%= render partial: "shared/dessert_list" %>

  </div>
</div>

<!--------------------------------------------------------
Google map 
--------------------------------------------------------->
<script type="text/javascript">
  function initMap() {
    var loaction;
    var geocoder = new google.maps.Geocoder();
    "<% if @category.area == "北部" %>"
      var initmap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 25.047781, lng: 121.517031},// 初始地圖以臺北火車站為中心
        zoom: 13
      });
    "<% elsif @category.area == "南部" %>"
      var initmap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 22.639761, lng: 120.302107},// 初始地圖以高雄火車站為中心
        zoom: 13
      });
    "<% elsif @category.area == "中部" %>"
      var initmap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 24.137295, lng: 120.686764},// 初始地圖以臺中火車站為中心
        zoom: 13
      });
    "<% end %>"



    var icon = {
      url: 'https://image.flaticon.com/icons/svg/135/135578.svg', // url
      scaledSize: new google.maps.Size(50, 50) // scaled size

    };

    //geocoder主程式
    "<% @desserts.each do |dessert| %>"
      geocoder.geocode( { 'address': "<%= dessert.location %>"}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var marker = new google.maps.Marker({
            map: initmap,
            animation: google.maps.Animation.BOUNCE,
            position: results[0].geometry.location,
            icon: icon,
            title: "<%= dessert.location %>"
          });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    "<% end %>"
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1YAvzj1UR6oFWo_xjOgr2xp56OPSdJo&callback=initMap">
</script>
