<h1>All users</h1>
<ul>
  <% @users.each do |user| %>
  <li>
    <%= image_tag user.avatar.url if user.avatar? %><br>
    Name: <%= user.name %><br>
    Email: <%= user.email %><br>
    Intro: <%= user.intro %><br>
    Role: <%= user.role %>
  </li>
  <% end %>
</ul>