<!DOCTYPE html>
<html>
  <head>

    <link rel ="stylesheet" href="css/reset.css">
    <link rel ="stylesheet" href="css/style.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>JustDessert2</title>
  </head>

  <body>
    <header class ="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="top-bar">

        <%= link_to root_path do %>
          <%= image_tag "logo.png",class: "img-circle-navbar pull-left" %>
        <% end %>


          <div class="pull-right align-middle">
            <% if current_user %>

              <span class="glyphicon glyphicon-align-justify btn btn-lg dropdown-toggle" data-toggle="dropdown" style="color:gray"></span>
              <ul class="dropdown-menu">
                <% if current_user %>
                  <% if current_user&.admin? %>
                    <li><%= link_to '後台', admin_root_path %></li>
                  <% end %>
                  <li><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
                  <li><%= link_to('修改密碼', edit_user_registration_path) %></li>
                <% end %>
              </ul>
            <% else %>
              <div class="navbar-brand"><%= link_to('註冊', new_user_registration_path) %></div>
              <div class="navbar-brand"><%= link_to('登入', new_user_session_path) %></div>
            <% end %>
          </div>
      </div>
    </nav>









    </header>
    <div class ="main">
     <%= yield %>
    </div>


    <footer class ="footer text-center">
      <h2>吃甜甜</h2>
      <h5>Copyright © 2018 CSY cooperation</h5>
    </footer>


  </body>
</html>
